md-input-container {
	width: 100%;
}

.mat-input-container {
  width: 100%;
}

md-checkbox {
	margin: 0 10px;
}

.map-des {
	font-size: small;
}

.input-field {
	display: inline-block;
	width: 25%;
}

.input-container {
	margin-top: 5px;
	margin-bottom: 5px;
}

.sample-list {
	max-height: 500px;
	overflow-y: auto;
}

.checkbox-label {
	margin-top: 15px;
}

.mat-selection-list .mat-list-option {
	display: inline;
}
.mat-list-item-content .mat-list-item-content-reverse {
	display: inline;
}

.mat-selection-list .mat-list-option .mat-list-item-content-reverse {
	display: inline;
}

.mat-selection-list .mat-list-option .mat-list-text {
	display: inline;

}

.mat-list-option {
	width: 20%;
}

.mat-list-text {
	font-size: x-small;
}

.mat-list .mat-list-option .mat-list-text, .mat-nav-list .mat-list-option .mat-list-text, .mat-selection-list .mat-list-option .mat-list-text {
	display: inline !important;
}

.check-box-div {
	width: 25%;
	display: inline-block;
}
