<div class="card-container">
  <div fxFlex="100">

    <md-card>

      <md-card-title>Tutorial</md-card-title>
      <md-card-content>


        <button md-button (click)="toggleVideo($event)" id="one">ACCOUNT</button>
        <button md-button (click)="toggleVideo($event)" id="two">Input Project</button>
        <button md-button (click)="toggleVideo($event)" id="three">Input Sample</button>
        <button md-button (click)="toggleVideo($event)" id="four">Input Volcano, Eruption, Reference</button>
        <button md-button (click)="toggleVideo($event)" id="five">Display, Volcanoes, Projects</button>
        <button md-button (click)="toggleVideo($event)" id="six">Access Sample</button>
        <button md-button (click)="toggleVideo($event)" id="seven">Sample Workspace</button>
        <button md-button (click)="toggleVideo($event)" id="eight">Overview </button>
        <button md-button (click)="toggleVideo($event)" id="nine">Point Analysis</button>
        <button md-button (click)="toggleVideo($event)" id="ten">Traverse</button>
      </md-card-content>
    </md-card>



    <md-card>
    <md-card-content>
      <md-card-title>Video</md-card-title>
      <iframe width="800" height="450"
              src="https://www.youtube.com/embed/06R98ry2wxA"
              frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen class="videoTut one" style="display:none;"></iframe>
      <iframe width="800" height="450"
              src="https://www.youtube.com/embed/gd6Q6K4LpRA"
              frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen class="videoTut two" style="display:none;"></iframe>
      <iframe width="800" height="450" src="https://www.youtube.com/embed/uowwXeOkYlA" frameborder="0"
            gesture="media" allow="encrypted-media" allowfullscreen class="videoTut three" style="display:none;"></iframe>
      <iframe width="800" height="450" src="https://www.youtube.com/embed/v2NgjkzTNTs" frameborder="0"
              gesture="media" allow="encrypted-media" allowfullscreen class="videoTut four" style="display:none;"></iframe>
      <iframe width="800" height="450" src="https://www.youtube.com/embed/9OffbwQuIyg" frameborder="0"
              gesture="media" allow="encrypted-media" allowfullscreen class="videoTut five" style="display:none;"></iframe>
      <iframe width="800" height="450" src="https://www.youtube.com/embed/z0VrKjRQKfY" frameborder="0"
              gesture="media" allow="encrypted-media" allowfullscreen class="videoTut six" style="display:none;"></iframe>
      <iframe width="800" height="450" src="https://www.youtube.com/embed/dpVSsogrQQw" frameborder="0"
              gesture="media" allow="encrypted-media" allowfullscreen class="videoTut seven" style="display:none;"></iframe>
      <iframe width="800" height="450" src="https://www.youtube.com/embed/KYfV88yJXdg" frameborder="0"
              gesture="media" allow="encrypted-media" allowfullscreen class="videoTut eight" style="display:none;"></iframe>
      <iframe width="800" height="450" src="https://www.youtube.com/embed/zgvAYLPAo5w" frameborder="0"
              gesture="media" allow="encrypted-media" allowfullscreen class="videoTut nine" style="display:none;"></iframe>
      <iframe width="800" height="450" src="https://www.youtube.com/embed/UKJLiixj9TM" frameborder="0"
              gesture="media" allow="encrypted-media" allowfullscreen class="videoTut ten" style="display:none;"></iframe>
     </md-card-content>
    </md-card>


  </div>


</div>
