md-expansion-panel-header {
  color: white;
  background-color: #4e65ec;
}
.mat-expansion-panel-header {
  color: white;
}
.mat-expansion-panel-header.mat-expanded {
  /*color: white;*/

	/*background-color: #3f51b5;*/
	background-color: #4e65ec;
}

md-select {
	/*display: inline;*/
	width: 49%;

}

md-form-field {
	width: 49%;
}

