<!--<div class="example-container mat-elevation-z8" [ngStyle]="{'max-width': _width + 'px'}">-->
<div class="example-container mat-elevation-z8" [ngStyle]="{'width': '100%'}">
	<div class="example-header">
		<md-form-field floatPlaceholder="never">
			<input mdInput #pub_filter placeholder="Search publication">
		</md-form-field>
    <button md-raised-button *ngIf="allowSelect" (click)="outputSelected()">Add</button>
    <button md-raised-button *ngIf="allowDelete" (click)="outputDeleteSelected()">Delete</button>
	</div>

	<md-table #table mdSort [dataSource]="dataSource" [ngStyle]="{'max-height': _height + 'px'}">

		<!--- Note that these columns can be defined in any order.
			  The actual rendered columns are set as a property on the row definition" -->

		<!-- ID Column -->
		<!--<ng-container mdColumnDef="">-->
		<!--<md-header-cell *mdHeaderCellDef> ID </md-header-cell>-->
		<!--<md-cell *mdCellDef="let row"> {{row.id}} </md-cell>-->
		<!--</ng-container>-->

		<!-- Progress Column -->
		<ng-container mdColumnDef="select">
			<md-header-cell *mdHeaderCellDef> Select</md-header-cell>
			<md-cell *mdCellDef="let row">
				<md-checkbox
						[(ngModel)]="_pubSelected[row.$key]">
					<!--[disabled]="disabled">-->
				</md-checkbox>
			</md-cell>
		</ng-container>

		<ng-container mdColumnDef="cb_auth">
			<md-header-cell *mdHeaderCellDef md-sort-header> Author</md-header-cell>
			<md-cell *mdCellDef="let row">
				<!--<a md-raised-button target="_blank" class="link-button" [routerLink]="['/access/volcano/' + row.$key]">-->
					<!--<span class="link-label">{{row.vd_name}}</span>-->
				<!--</a>
				-->
        {{row.cb_auth}}
			</md-cell>
		</ng-container>
		<ng-container mdColumnDef="cb_title">
			<md-header-cell *mdHeaderCellDef md-sort-header> Title</md-header-cell>
			<md-cell *mdCellDef="let row"> {{row.cb_title}}</md-cell>
		</ng-container>
		<ng-container mdColumnDef="cb_journ">
			<md-header-cell *mdHeaderCellDef md-sort-header> Journal</md-header-cell>
			<md-cell *mdCellDef="let row"> {{row.cb_journ}}</md-cell>
		</ng-container>
    <ng-container mdColumnDef="cb_pub">
			<md-header-cell *mdHeaderCellDef md-sort-header> Publication</md-header-cell>
			<md-cell *mdCellDef="let row"> {{row.cb_pub}}</md-cell>
		</ng-container>
    <ng-container mdColumnDef="cb_doi">
			<md-header-cell *mdHeaderCellDef md-sort-header> DOI</md-header-cell>
			<md-cell *mdCellDef="let row"> {{row.cb_doi}}</md-cell>
		</ng-container>
    <ng-container mdColumnDef="cb_isbn">
			<md-header-cell *mdHeaderCellDef md-sort-header> ISBN</md-header-cell>
			<md-cell *mdCellDef="let row"> {{row.cb_isbn}}</md-cell>
		</ng-container>
    <ng-container mdColumnDef="cb_year">
			<md-header-cell *mdHeaderCellDef md-sort-header> Year</md-header-cell>
			<md-cell *mdCellDef="let row"> {{row.cb_year}}</md-cell>
		</ng-container>
    <ng-container mdColumnDef="cb_url">
			<md-header-cell *mdHeaderCellDef md-sort-header> URL</md-header-cell>
			<md-cell *mdCellDef="let row">
        <a href="{{row.cb_url}}" *ngIf="row.cb_url != ''" target="_blank">Link to paper</a>
      </md-cell>
		</ng-container>



		<!--<ng-container mdColumnDef="ref_name">-->
		<!--<md-header-cell *mdHeaderCellDef> Name</md-header-cell>-->
		<!--<md-cell *mdCellDef="let row"> {{row.ref_name}}</md-cell>-->
		<!--</ng-container>-->

		<!-- Name Column -->


		<md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
		<md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
	</md-table>
</div>
