<h2 md-dialog-title>Account Authentication</h2>

<md-dialog-content>
	<!--<img src="https://upload.wikimedia.org/wikipedia/commons/5/56/Neptune_Full.jpg"/>-->
	<!---->
	<!--<p>-->
	<!--Neptune is the eighth and farthest known planet from the Sun in the Solar System. In the-->
	<!--Solar System, it is the fourth-largest planet by diameter, the third-most-massive planet,-->
	<!--and the densest giant planet. Neptune is 17 times the mass of Earth and is slightly more-->
	<!--massive than its near-twin Uranus, which is 15 times the mass of Earth and slightly larger-->
	<!--than Neptune. Neptune orbits the Sun once every 164.8 years at an average distance of 30.1-->
	<!--astronomical units (4.50×109 km). It is named after the Roman god of the sea and has the-->
	<!--astronomical symbol ♆, a stylised version of the god Neptune's trident.-->
	<!--</p>-->

	<!--<md-tab-group class="demo-tab-group" dynamicHeight [(selectedIndex)]="activeTabIndex">-->
	<md-tab-group class="tab-group" dynamicHeight>
		<md-tab>
			<ng-template md-tab-label>Login</ng-template>
			<div class="tab-content">
				<!--<p>Message from data: {{data.message}}</p>-->
				<!--<form [formGroup]="myForm" (ngSubmit)="onSubmit()">-->
				<app-login (onConfirm)="onCloseConfirm($event)"></app-login>
			</div>
		</md-tab>
		<md-tab>
			<ng-template md-tab-label>Signup</ng-template>
			<div class="tab-content">
				<app-signup (onConfirm)="onCloseConfirm($event)"></app-signup>
			</div>
		</md-tab>
		<md-tab>
			<ng-template md-tab-label>Forget</ng-template>
			<div class="tab-content">
				<app-forget-password></app-forget-password>
			</div>
		</md-tab>

	</md-tab-group>


</md-dialog-content>

<!--<md-dialog-actions [attr.align]="actionsAlignment">-->
<md-dialog-actions>
	<button
			md-raised-button
			color="primary"
      (click)="onCloseConfirm()"
			md-dialog-close>Close
	</button>
	<!--<button color="warn" (click)="onCloseConfirm()">-->
		<!--Confirm-->
	<!--</button>-->

	<!--<a-->
	<!--md-button-->
	<!--color="primary"-->
	<!--href="https://en.wikipedia.org/wiki/Neptune"-->
	<!--target="_blank">Read more on Wikipedia</a>-->
	<!--<button-->
	<!--md-button-->
	<!--color="secondary"-->
	<!--(click)="showInStackedDialog()">-->
	<!--Show in Dialog-->
	<!--</button>-->
</md-dialog-actions>
