<footer>

  <div id="page_footer">
    <div class="element_footer" >
      <h1>Volcanic Petrology Group</h1>
      <p>Contact us:  <a target="_blank" href="http://www.earthobservatory.sg/research-group/volcanic-petrology-group-fidel-costa">http://www.earthobservatory.sg/research-group/volcanic-petrology-group-fidel-costa</a> </p>
    </div>
    <div class="element_footer" >
      <img id="eos" src="/assets/img/eos_logo.png" alt="EOS"
           >

    </div>
    <div class="element_footer" >
      <img id="ntu" src="/assets/img/NTU_logo.png" alt="NTU"
           >
    </div>
  </div>

</footer>
