.canvas-wrapper {
	/*height: 500px;*/
	/*width: 1000px;*/
	z-index: 30;
	overflow: auto;
}

canvas {
	/*z-index: 50;*/
	height: 500px;
	width: 1000px;
}

md-card-content {
	overflow: hidden;
}

button {
	margin: 10px;
}