<button md-raised-button>Create</button>
<button md-raised-button>Edit</button>
<button md-raised-button color="warn">Remove</button>
<button md-raised-button color="primary">Confirm</button>

<!--new Analysis({_id: '3t23gse', ref_id: 0, ref_name: 'aly1', color: 'blue', aly_type: 'type 1',-->
								<!--aly_instrument: 'type 2', aly_comment: 'no comment',-->
								<!--pos_x: 1.24, pos_y: 2.2, pos_pix_x: 200, pos_pix_y: 200,-->
								<!--data: [new AlyElement({ele_name: 'C2O', ele_unit: '%wt', ele_val: 12.23}), new AlyElement({ele_name: 'H2O', ele_unit: '%wt', ele_val: 12.23}), new AlyElement({ele_name: 'CAO', ele_unit: '%wt', ele_val: 12.23}), ]-->
							<!--}),-->
							<!--new Analysis({_id: '23dsdsf', ref_id: 0, ref_name: 'aly1', color: 'blue', aly_type: 'type 1',-->
								<!--aly_instrument: 'type 2', aly_comment: 'no comment',-->
								<!--pos_x: 1.24, pos_y: 2.2, pos_pix_x: 250, pos_pix_y: 250,-->
								<!--data: [new AlyElement({ele_name: 'C2O', ele_unit: '%wt', ele_val: 12.23}), new AlyElement({ele_name: 'H2O', ele_unit: '%wt', ele_val: 12.23}), new AlyElement({ele_name: 'CAO', ele_unit: '%wt', ele_val: 12.23}), ]-->
							<!--}),-->
							<!--new Analysis({_id: '32gsdfds', ref_id: 0, ref_name: 'aly1', color: 'blue', aly_type: 'type 1',-->
								<!--aly_instrument: 'type 2', aly_comment: 'no comment',-->
								<!--pos_x: 1.24, pos_y: 2.2, pos_pix_x: 300, pos_pix_y: 200,-->
								<!--data: [new AlyElement({ele_name: 'C2O', ele_unit: '%wt', ele_val: 12.23}), new AlyElement({ele_name: 'H2O', ele_unit: '%wt', ele_val: 12.23}), new AlyElement({ele_name: 'CAO', ele_unit: '%wt', ele_val: 12.23}), ]-->
							<!--}),-->
							<!--new Analysis({_id: 'sdgqeash', ref_id: 0, ref_name: 'aly1', color: 'blue', aly_type: 'type 1',-->
								<!--aly_instrument: 'type 2', aly_comment: 'no comment',-->
								<!--pos_x: 1.24, pos_y: 2.2, pos_pix_x: 200, pos_pix_y: 300,-->
								<!--data: [new AlyElement({ele_name: 'C2O', ele_unit: '%wt', ele_val: 12.23}), new AlyElement({ele_name: 'H2O', ele_unit: '%wt', ele_val: 12.23}), new AlyElement({ele_name: 'CAO', ele_unit: '%wt', ele_val: 12.23}), ]-->
							<!--}),-->
							<!--new Analysis({_id: '32hfdhdfgfsgdg', ref_id: 0, ref_name: 'aly1', color: 'blue', aly_type: 'type 1',-->
								<!--aly_instrument: 'type 2', aly_comment: 'no comment',-->
								<!--pos_x: 1.24, pos_y: 2.2, pos_pix_x: 100, pos_pix_y: 100,-->
								<!--data: [new AlyElement({ele_name: 'C2O', ele_unit: '%wt', ele_val: 12.23}), new AlyElement({ele_name: 'H2O', ele_unit: '%wt', ele_val: 12.23}), new AlyElement({ele_name: 'CAO', ele_unit: '%wt', ele_val: 12.23}), ]-->
							<!--}),-->
							<!--new Analysis({_id: '32hsdndshdshgdsh3', ref_id: 0, ref_name: 'aly1', color: 'blue', aly_type: 'type 1',-->
								<!--aly_instrument: 'type 2', aly_comment: 'no comment',-->
								<!--pos_x: 1.24, pos_y: 2.2, pos_pix_x: 120, pos_pix_y: 150,-->
								<!--data: [new AlyElement({ele_name: 'C2O', ele_unit: '%wt', ele_val: 12.23}), new AlyElement({ele_name: 'H2O', ele_unit: '%wt', ele_val: 12.23}), new AlyElement({ele_name: 'CAO', ele_unit: '%wt', ele_val: 12.23}), ]-->
							<!--}),-->