<div class="card-container" >
	<!--<div fxLayout="row" fxLayoutAlign="space-around center" >	-->
	<div fxFlex="100">
		<md-card

		>
			<md-card-title>Query</md-card-title>
			<md-card-content>
				<img src="/assets/img/volcanoes-masthead.png" alt="Volcano">
			</md-card-content>
		</md-card>
	</div>

	<div fxFlex="60" fxFlexAlign="start">

		<md-card
		>
			<md-card-title>Card with title and footer</md-card-title>
			<md-card-subtitle>Subtitle</md-card-subtitle>
			<md-card-content>
				<p>This is supporting text.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do e
					iusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, q

					uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
					aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia des
					ashflajlgfhasjflkajfklasjfkjasfjlkajflkajkjflkajf
					ashflajlgfhasjflkajfklasjfkjasfjlkajflkajkjflkajf
					ashflajlgfhasjflkajfklasjfkjasfjlkajflkajkjflkajf
					ashflajlgfhasjflkajfklasjfkjasfjlkajflkajkjflkajf
					ashflajlgfhasjflkajfklasjfkjasfjlkajflkajkjflkajf
					ashflajlgfhasjflkajfklasjfkjasfjlkajflkajkjflkajf
					ashflajlgfhasjflkajfklasjfkjasfjlkajflkajkjflkajf
					ashflajlgfhasjflkajfklasjfkjasfjlkajflkajkjflkajf
					ashflajlgfhasjflkajfklasjfkjasfjlkajflkajkjflkajf
					ashflajlgfhasjflkajfklasjfkjasfjlkajflkajkjflkajf
					erunt mollit anim id est laborum.</p>
			</md-card-content>

			<md-card-actions>
				<button md-button>LIKE</button>
				<button md-button>SHARE</button>
			</md-card-actions>
			<md-card-footer>
				<md-progress-bar mode="indeterminate"></md-progress-bar>
			</md-card-footer>
		</md-card>
	</div>


	<div fxFlex="40" fxFlexAlign="start">
		<md-card

		>
			<md-card-title>Card with titlasfasgashasg</md-card-title>
			<md-card-subtitle>Subtitle</md-card-subtitle>
			<md-card-content>
				<p>This is supporting text.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do e
					iusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, q
					lasjfkjasfjlkajflkajkjflkajf
					ashflajlgfhasjflkajfklasjfkjasfjlkajflkajkjflkajf
					ashflajlgfhasjflkajfklasjfkjasfjlkajflkajkjflkajf
					erunt mollit anim id est laborum.</p>
			</md-card-content>

			<md-card-actions>
				<button md-button>LIKE</button>
				<button md-button>SHARE</button>
			</md-card-actions>
			<md-card-footer>
				<md-progress-bar mode="indeterminate"></md-progress-bar>
			</md-card-footer>
		</md-card>
	</div>
	<div fxFlex="40" fxFlexAlign="start">
		<md-card

		>
			<md-card-title>Card with titlasfasgashasg</md-card-title>
			<md-card-subtitle>Subtitle</md-card-subtitle>
			<md-card-content>
				<p>This is supporting text.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do e
					iusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, q
					lasjfkjasfjlkajflkajkjflkajf
					ashflajlgfhasjflkajfklasjfkjasfjlkajflkajkjflkajf
					ashflajlgfhasjflkajfklasjfkjasfjlkajflkajkjflkajf
					ashflajlgfhasjflkajfklasjfkjasfjlkajflkajkjflkajf
					erunt mollit anim id est laborum.</p>
			</md-card-content>

			<md-card-actions>
				<button md-button>LIKE</button>
				<button md-button>SHARE</button>
			</md-card-actions>
			<md-card-footer>
				<md-progress-bar mode="indeterminate"></md-progress-bar>
			</md-card-footer>
		</md-card>
	</div>

</div>