<div class="card-container">

  <div fxFlex="50">
    <md-card>
      <!--<md-card-title>Description</md-card-title>-->
      <md-card-content>

        <div>
          <img id="img_at_description" src="/assets/img/eos_logo.png" alt="EOS">
        </div>
        <div>
          <p>The Volcano Petrology Database (VPD) facilitates storing and managing information about petrological data
            for ready accessibility to researchers. The data management system allows compiling multi-level dataset as
            images, analyses, results, and time series that can be interactively explored from the work space.
            The VPD offers three main features: </p>
          <ul>
            <li>Users can organize data in work space from field work to analytical techniques by linking the files
              between them in an interactive work space. Users can create data plots for a better visualization.
            </li>
            <li>Users can share the uploaded data with collaborators (choosing the level of privacy for each project).
            </li>
            <li>Users can create an internal database with their collaborators.</li>
          </ul>
          <p>
            The VPD offers two main menus allowing users to input, organize, plot, and query data.
          </p>
          <ul>
            <li>Input: Users can create new projects for adding their data. When creating the project users can choose
              between different degrees of privacy/sharing. The listed volcanoes and eruptions are according to
              Smithsonian <a target="_blank" href="https://volcano.si.edu">(https://volcano.si.edu)</a>, but users can
              add new volcanoes/eruptions. By using the work space
              and the associated tools users can link multi-level data and produce plots.
            </li>
            <li>Access Database: Users can find the available data for a specific eruption or volcano. Users can query
              the data from the map or from one of the three lists: Volcano, Project, and Sample List.
            </li>
          </ul>
          <em>*Users need to be registered to access the database and to upload data</em>
        </div>
      </md-card-content>

    </md-card>
  </div>


  <div fxFlex="50">
    <md-card>
      <md-card-title>EOS Video Introduction</md-card-title>
      <md-card-subtitle>
        This area is saved for EOS Introduction Video which will be available later. The video below just for testing
        and will be replaced in the future.
      </md-card-subtitle>
      <md-card-content style="position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;">
        <iframe style="position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;"
                src="https://www.youtube.com/embed/06R98ry2wxA"
                frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      </md-card-content>
    </md-card>
  </div>


</div>

<app-footer></app-footer>

